@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 108px;
    letter-spacing: 36px;
    line-height: 1;
    font-family: Montserrat;
    font-variant-ligatures: none;
    text-align: center;
    text-anchor: middle;

    background: -webkit-linear-gradient(right, #3c329d, #d94f8e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.admin-layout .header .logo {
    font-size: 24px;
    letter-spacing: 6px;

}

.text-gradient {
    background: -webkit-linear-gradient(right, #3c329d, #d94f8e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bubble-text::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-width: 30px;
    border-style: solid;
    border-color: transparent transparent #FFFFFF transparent;
    top: -60px;
    left: 20px;
}